body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}

.destaques {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.produto {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.categorias {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Adicione seus estilos aqui para personalizar o formulário */
form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

